body {
  background-image: url(../img/header-bg_big.jpg); }

.wrapper-for-desktop {
  margin: 0 auto;
  width: 940px; }

/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
header {
  padding: 1px 0 0 0;
  height: 699px; }

.header__main-header {
  margin: 33px 0 0 0; }

.header__authorization-block {
  float: right;
  margin: 37px 0 0 0;
  width: auto; }

.header__underheader {
  margin: 141px auto 0;
  width: 485px;
  font-size: 52px; }

.header__second-underheader {
  margin: 24px auto 0;
  width: 400px;
  font-size: 24px; }

.header__big-button {
  margin: 33px auto;
  width: 223px; }

/*"HOW WORKS"  STARTS  HERE*/
/*"HOW WORKS"  STARTS  HERE*/
/*"HOW WORKS"  STARTS  HERE*/
.how-works-block__header {
  margin: 93px 0 23px 0; }

.slider__wrapper {
  display: inline-block;
  width: 300px; }

.slider__wrapper--2 {
  margin: 10px 15px; }

.slider__button {
  top: 153px;
  width: 30px;
  opacity: .5;
  background-image: url(../img/arrows.png);
  outline: none; }

.slider__button--prev {
  left: 20px; }

.slider__button--next {
  right: 20px;
  background-position: -30px 0px; }

.slider__item {
  padding: 1px 16px 0 19px;
  width: 265px;
  height: 399px; }

.slider__item--1 {
  background-image: url(../img/step1_big.jpg); }

.slider__item--2 {
  background-image: url(../img/step2_big.jpg); }

.slider__item--3 {
  background-image: url(../img/step3_big.jpg); }

.slider__step-number {
  margin: 230px 0 0 3px; }

.slider__step-number--2 {
  margin: 259px 0 0 2px; }

/*PARTNERS  STARTS  HERE*/
/*PARTNERS  STARTS  HERE*/
/*PARTNERS  STARTS  HERE*/
.partners {
  width: 480px; }

.partners__header {
  margin: 82px 0 0 0; }

.partners__block {
  float: left;
  margin: 29px 0 25px 0; }

.partners__block--2 {
  margin-left: 26px;
  margin-right: 26px; }

.partners__block--4 {
  margin-left: 26px; }

.partners__button {
  margin: 11px auto;
  width: 191px; }

/*IDEAS  STARTS  HERE*/
/*IDEAS  STARTS  HERE*/
/*IDEAS  STARTS  HERE*/
.ideas__header {
  margin: 97px 0 34px 0; }

.ideas__header:after {
  content: "Internet Explorer is fucking marazmatic shit!";
  display: block;
  margin: 44px auto;
  color: red;
  text-align: center; }

.ideas__block {
  margin: 0 0 20px 0;
  width: 300px;
  height: 310px; }

.ideas__block--width2 {
  width: 620px; }

.ideas__image {
  width: auto;
  height: 100%; }

.ideas__image--short {
  width: 100%;
  height: auto; }

.ideas__link {
  line-height: 310px; }

/*SEARCH  STARTS  HERE*/
/*SEARCH  STARTS  HERE*/
/*SEARCH  STARTS  HERE*/
.search__header {
  margin: 75px 0 0 0; }

.search__greating {
  margin: 32px 0 0 0; }

.search__form {
  margin: 36px auto 0;
  width: 413px; }

.search__input {
  display: inline-block;
  margin: 0 6px 0 0;
  padding: 0 0 0 13px;
  width: 240px; }

.search__button {
  display: inline-block;
  margin: 0;
  width: 160px; }

/*FOOTER  STARTS  HERE*/
/*FOOTER  STARTS  HERE*/
/*FOOTER  STARTS  HERE*/
footer {
  margin: 100px 0 0 0;
  height: 193px; }

.footer__link {
  float: left;
  margin: 36px 0 0 0;
  padding: 0; }

.footer__list-block {
  float: left;
  margin: 36px 0 0 9.7%;
  width: 100px; }

.footer__list-block--partners {
  margin: 36px 0 0 6.4%; }

.footer__list-header {
  text-align: left; }

.footer__list {
  margin: 13px 0 0 0;
  padding: 0;
  width: auto; }

.footer__list-item {
  float: none;
  margin: 0 0 7px 0; }

.footer__company {
  float: right;
  margin: 36px 0px 0 0; }

.footer__text {
  margin: 0 0 0 30px;
  width: 82px; }
