body {
  background-image: url(../img/header-bg_medium.jpg); }

.wrapper {
  width: 768px;
  margin: 0 auto; }

/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
header {
  padding: 1px 0 0 0;
  height: 699px; }

.header__authorization-block {
  float: right;
  margin: 37px 6.5% 0 0;
  width: auto; }

.header__button--authorization {
  width: 82px; }

.header__main-header {
  margin: 34px 0 0 5.3%; }

.header__underheader {
  margin: 140px auto 0;
  width: 484px;
  font-size: 52px; }

.header__second-underheader {
  margin: 24px auto 0;
  width: 400px;
  font-size: 24px; }

.header__button--big {
  margin: 33px auto;
  width: 224px; }

/*"HOW WORKS"  STARTS  HERE*/
/*"HOW WORKS"  STARTS  HERE*/
/*"HOW WORKS"  STARTS  HERE*/
.how-works-block {
  margin: 0 auto;
  width: 768px; }

.how-works-block__header {
  margin: 93px 0 33px 1.5%; }

.slider__wrapper {
  display: inline-block;
  margin: 0 0.7% 0 1.38%;
  width: 236px; }

.slider__button {
  top: 40px;
  width: 30px;
  opacity: .5;
  background-image: url(../img/arrows.png); }

.slider__button--prev {
  left: 20px; }

.slider__button--next {
  right: 20px;
  background-position: -30px 0px; }

.slider__wrapper--2 .slider__button--prev {
  left: 10px; }

.slider__wrapper--2 .slider__button--next {
  right: 10px; }

.slider__item {
  padding: 1px 17px 0 19px;
  width: 200px;
  height: 399px; }

.slider__item--1 {
  background-image: url(../img/step1_medium.jpg); }

.slider__item--2 {
  background-image: url(../img/step2_medium.jpg); }

.slider__item--3 {
  background-image: url(../img/step3_medium.jpg); }

.slider__step-number {
  margin: 212px 0 0 2px; }

.slider__step-number--2 {
  margin: 259px 0 0 1px; }

/*PARTNERS  STARTS  HERE*/
/*PARTNERS  STARTS  HERE*/
/*PARTNERS  STARTS  HERE*/
.partners__header {
  margin-top: 92px; }

.partners__block {
  margin: 29px 0 25px 5px; }

.partners__block--2, .partners__block--4 {
  margin-left: 40px; }

.partners__button {
  margin: 13px auto;
  width: 192px; }

/*IDEAS  STARTS  HERE*/
/*IDEAS  STARTS  HERE*/
/*IDEAS  STARTS  HERE*/
.ideas__header {
  margin: 97px 0 33px 0; }

.ideas__block {
  margin: 0 0 20px 0;
  width: 236px;
  height: 310px; }

.ideas__block--width2 {
  width: 492px; }

.ideas__image {
  width: auto;
  height: 100%; }

.ideas__image--short {
  width: 100%;
  height: auto; }

.ideas__link {
  line-height: 310px; }

/*SEARCH  STARTS  HERE*/
/*SEARCH  STARTS  HERE*/
/*SEARCH  STARTS  HERE*/
.search__header {
  margin: 75px 0 0 0; }

.search__greating {
  margin: 31px 0 0 0; }

.search__form {
  margin: 36px auto 0;
  width: 410px; }

.search__input {
  display: inline-block;
  margin: 0 6px 0 0;
  padding: 0 0 0 13px;
  width: 240px; }

.search__button {
  display: inline-block;
  margin: 0;
  width: 160px; }
