%headers {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

%buttons {
	display: block;
	border: none;
	border-radius: 30px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
}