@import "normalize";
@import "extendSelectors";
@import "variables";


.test-wrapper {
	width: 768px;
	margin: 0 auto;
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,500,500italic,300italic,300,700,700italic,900,900italic,400italic,400);


body {
	background-image: url(../img/header-bg-small.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/


header {
	padding: 1px 0 0 0;
	height: 539px;
	color: white;
	font-family: $siteFont1;
	font-weight: bold;
}

.header__link {
	color: white;
	font-size: 14px;
}

.header__main-header {
	margin: 103px auto 0;
	width: 180px;
	text-align: center;
}

.header__link--main-header {
	font-size: 20px;
	letter-spacing: 1px;
}

.header__authorization-block {
	margin: 20px auto 0;
	width: 185px;
}

.header__link--authorization {
	display: inline-block;
	padding: 7px 15px 7px 14px;
	border: 2px solid transparent;
	border-radius: 30px;
}

.header__link--authorization:last-child {
	border: 2px solid white;
}

.header__underheader {
	margin: 23px auto 0;
	width: 280px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

.header__second-underheader {
	margin: 8px auto 0;
	width: 220px;
	text-align: center;
	font-family: $siteFont2;
	font-size: 18px;
	font-weight: 300;
}

.header__link--find {
	display: block;
	margin: 14px auto;
	width: 278px;
	background-color: $mainColor;
	border: 1px solid $mainColor;
	border-radius: 30px;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
}


/*"HOW WORKS"  BLOCK  STARTS  HERE*/
/*"HOW WORKS"  BLOCK  STARTS  HERE*/
/*"HOW WORKS"  BLOCK  STARTS  HERE*/


.how-works-block {
	padding: 1px 0 0 0;
}

.how-works-block__header {
	margin: 33px 0 14px 0;
	text-align: center;
	font-family: $siteFont1;
	font-size: 22px;
	font-weight: bold;
}

.slider__wrapper {
	position: relative;
	margin: 10px auto;
	width: 300px;
	overflow: hidden;
}

.slider {
	position: relative;
	width: 20000em;
}

.slider__button {
	position: absolute;
	top: 0;
	width: 150px;
	height: 56px;
}

.slider__button--prev {
	left: 0;
}

.slider__button--next {
	right: 0;
}

.slider__item {
	float: left;
	padding: 1px 20px 0 20px;
	width: 260px;
	height: 239px;
	color: white;
}

.slider__item--1 {
	background-image: url(../img/step1_small.jpg);
}

.slider__item--2 {
	background-image: url(../img/step2_small.jpg);
}

.slider__item--3 {
	background-image: url(../img/step3_small.jpg);
}

.slider__step-number {
	margin: 69px 0 0 0;
	padding: 0 0 0 2px;
	width: 66px;
	height: 18px;
	border: 1px solid $mainColor;
	border-radius: 30px;
	background-color: $mainColor;
	line-height: 18px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-family: $siteFont1;
	font-size: 10px;
	font-weight: normal;
}

.slider__step-number--2 {
	margin: 99px 0 0 0;
}

.slider__step-header {
	margin: 14px 0 0 0;
	font-family: $siteFont1;
	font-size: 24px;
	font-weight: bold;
}

.slider__text {
	margin: 11px 0 0 0;
	font-family: $siteFont2;
	font-size: 14px;
	font-weight: 300;
}