@import "normalize";
@import "extendSelectors";
@import "variables";


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,500,500italic,300italic,300,700,700italic,900,900italic,400italic,400);


body {
	background-image: url(../img/header-bg_small.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/


header {
	padding: 1px 0 0 0;
	height: 539px;
	color: white;
	font-family: $siteFont1;
	font-weight: bold;
}

.header__main-header {
	margin: 103px auto 0;
	width: 180px;
	text-align: center;
}

.header__main-header--link {
	font-size: 20px;
	letter-spacing: 1px;
}

.header__authorization-block {
	margin: 20px auto 0;
	width: 200px;
}

.header__authorization-button {
	@extend %buttons;
	float: left;
	width: 86px;
	height: 35px;
	background-color: transparent;
}

.header__registration-button {
	@extend .header__authorization-button;
	width: 90px;
	border: 2px solid white;
}

.header__underheader {
	margin: 23px auto 0;
	width: 280px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

.header__second-underheader {
	margin: 8px auto 0;
	width: 220px;
	text-align: center;
	font-family: $siteFont2;
	font-size: 18px;
	font-weight: 300;
}

.header__big-button {
	@extend %buttons;
	margin: 14px auto;
	width: 280px;
	height: 40px;
	border: none;
	background-color: $mainColor;
}


/*"HOW WORKS"  STARTS  HERE*/
/*"HOW WORKS"  STARTS  HERE*/
/*"HOW WORKS"  STARTS  HERE*/


.how-works-block {
	padding: 1px 0 0 0;
}

.how-works-block__header {
	@extend %headers;
	margin: 33px 0 14px 0;
}

.slider__wrapper {
	position: relative;
	margin: 10px auto;
	width: 300px;
	overflow: hidden;
}

.slider {
	position: relative;
	width: 20000em;
}

.slider__button {
	position: absolute;
	top: 0;
	width: 150px;
	height: 56px;
}

.slider__button--prev {
	left: 0;
}

.slider__button--next {
	right: 0;
}

.slider__item {
	float: left;
	padding: 1px 20px 0 20px;
	width: 260px;
	height: 239px;
	color: white;
}

.slider__item--1 {
	background-image: url(../img/step1_small.jpg);
}

.slider__item--2 {
	background-image: url(../img/step2_small.jpg);
}

.slider__item--3 {
	background-image: url(../img/step3_small.jpg);
}

.slider__step-number {
	margin: 69px 0 0 0;
	padding: 0 0 0 2px;
	width: 68px;
	height: 20px;
	border-radius: 30px;
	background-color: $mainColor;
	line-height: 18px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-family: $siteFont1;
	font-size: 10px;
	font-weight: normal;
}

.slider__step-number--2 {
	margin: 99px 0 0 0;
}

.slider__step-header {
	margin: 14px 0 0 0;
	font-family: $siteFont1;
	font-size: 24px;
	font-weight: bold;
}

.slider__text {
	margin: 11px 0 0 0;
	font-family: $siteFont2;
	font-size: 14px;
	font-weight: 300;
}


/*PARTNERS  STARTS  HERE*/
/*PARTNERS  STARTS  HERE*/
/*PARTNERS  STARTS  HERE*/


.partners {
	margin: 0 auto;
	padding: 1px 0 0 0;
	width: 320px;
}

.partners__header {
	@extend %headers;
	margin: 23px 0 0 0;
	padding: 0 6px 0 0;
}

.partners__block {
	position: relative;
	margin: 11px auto 24px;
	width: 215px;
}

@media screen and (min-width: 480px) {
	.partners {
		width: 480px;
	}

	.partners__block {
		float: left;
	}
}

.partners__avatar-link {
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	border-radius: 80px;
	overflow: hidden;
}

.partners__icon {
	position: absolute;
	top: 87px;
	right: 43px;
	width: 33px;
	height: 33px;
	border: 4px solid white;
	border-radius: 20px;
}

.partners__icon--tv {
	background-image: url(../img/sprite.png);
	background-position: 0px -33px;
}

.partners__icon--coffee {
	background-image: url(../img/sprite.png);
	background-position: 0px 0px;
}

.partners__icon--chemical {
	background-image: url(../img/sprite.png);
	background-position: -33px -32px;
}

.partners__icon--paperfly {
	background-image: url(../img/sprite.png);
	background-position: -33px 0px;
}

.partners__name {
	margin: 18px 0 0 0;
	color: #333;
	text-align: center;
	font-family: $siteFont1;
	font-size: 14px;
	font-weight: bold;
}

.partners__about-text {
	margin: 13px 0 0 0;
	color: #666;
	text-align: center;
	font-family: $siteFont2;
	font-size: 14px;
	font-weight: 300;
}

.partners__button {
	@extend %buttons;
	margin: 33px auto;
	width: 280px;
	height: 40px;
	border: 2px solid $mainColor;
	background-color: white;
	color: $mainColor;
}


/*IDEAS  STARTS  HERE*/
/*IDEAS  STARTS  HERE*/
/*IDEAS  STARTS  HERE*/

.ideas__header {
	@extend %headers;
	margin: 34px 0 0 0;
}

.ideas__box {
	margin: 0 auto;
}

.ideas__block {
	position: relative;
	margin: 11px 10px 0 10px;
	width: 300px;
	height: 120px;
	border-radius: 5px;
	overflow: hidden;
}

.ideas__image {
	width: 100%;
}

.ideas__link {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	color: white;
	line-height: 120px;
	text-align: center;
	font-family: $siteFont1;
	font-size: 22px;
	font-weight: bold;
}


/*SEARCH  STARTS  HERE*/
/*SEARCH  STARTS  HERE*/
/*SEARCH  STARTS  HERE*/


.search__header {
	@extend %headers;
	margin: 31px 0 0 0;
}

.search__greating {
	margin: 10px 0 0 0;
	color: #333;
	text-align: center;
	font-family: $siteFont2;
	font-size: 18px;
	font-weight: 300;
}

.search__form {
	margin: 15px auto 0;
}

.search__input {
	display: block;
	margin: 0 auto 0;
	padding: 0 0 0 11px;
	width: 279px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #999;
	font-family: $siteFont2;
	font-size: 14px;
	font-weight: 300;
}

.search__button {
	@extend %buttons;
	margin: 10px auto 0;
	width: 280px;
	height: 40px;
	background-color: $mainColor;
}


/*FOOTER  STARTS  HERE*/
/*FOOTER  STARTS  HERE*/
/*FOOTER  STARTS  HERE*/


footer {
	margin: 40px 0 0 0;
	height: 189px;
	border-top: 4px solid $mainColor;
}

.footer__link {
	display: block;
	width: 150px;
	margin: 16px auto 0;
	padding: 0 0 0 3px;
	color: $mainColor;
	letter-spacing: 1px;
	font-family: $siteFont1;
	font-size: 16px;
	font-weight: bold;
}

.footer__list-block {
	margin: 11px auto 0;
	width: 300px;
}

.footer__list-header {
	padding: 0 2px 0 0;
	color: #333;
	text-align: center;
	font-family: $siteFont1;
	font-size: 14px;
	font-weight: bold;
}

.footer__list {
	margin: 3px 0 0 0;
	padding: 0 0 0 50px;
	width: 220px;
	color: #666;
	font-family: $siteFont2;
	font-size: 14px;
	font-weight: 300;
}

.footer__list-item {
	float: left;
	margin: 0 12px 0 2px;
}

.footer__company {
	display: block;
	margin: 14px auto 0;
	width: 110px;
}

.footer__text {
	display: block;
	margin: 0 auto;
	width: 100px;
	color: #ccc;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	font-family: $siteFont1;
	font-size: 10px;
	font-weight: bold;
}

.footer__logo {
	margin: 7px 0 0 0;
}