.wrapper-for-desktop {
	margin: 0 auto;
	width: 940px;
}

body {
	background-image: url(../img/header-bg-big.jpg);
}


/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/

body {
	background-image: url(../img/header-bg-big.jpg);
}


/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/


header {
	padding: 1px 0 0 0;
	height: 699px;
}

.header__main-header {
	margin: 34px 0 0 0;
}

.header__authorization-block {
	float: right;
	margin: 4px 0 0 0;
	width: 170px;
}

.header__underheader {
	margin: 140px auto 0;
	width: 484px;
	font-size: 52px;
}

.header__second-underheader {
	margin: 24px auto 0;
	width: 400px;
	font-size: 24px;
}

.header__link--find {
	margin: 33px auto;
	width: 223px;
}