body {
	background-image: url(../img/header-bg_big.jpg);
}

.wrapper-for-desktop {
	margin: 0 auto;
	width: 940px;
}

.wrapper {
	width: auto;
	margin: 0;
}
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/
/*HEADER  STARTS  HERE*/


header {
	padding: 1px 0 0 0;
	height: 699px;
}

.header__main-header {
	margin: 33px 0 0 0;
}

.header__authorization-block {
	float: right;
	margin: 37px 0 0 0;
	width: 170px;
}

.header__underheader {
	margin: 141px auto 0;
	width: 484px;
	font-size: 52px;
}

.header__second-underheader {
	margin: 24px auto 0;
	width: 400px;
	font-size: 24px;
}

.header__link--button {
	margin: 33px auto;
	width: 223px;
}


/*"HOW WORKS"  STARTS  HERE*/
/*"HOW WORKS"  STARTS  HERE*/
/*"HOW WORKS"  STARTS  HERE*/


.how-works-block__header {
	margin: 93px 0 23px 0;
}

.slider__wrapper {
	display: inline-block;
	width: 300px;
}

.slider__wrapper--2 {
	margin: 10px 15px;
}

.slider__button {
	top: 153px;
	width: 30px;
	opacity: .5;
	background-image: url(../img/arrows.png);
}

.slider__button--prev {
	left: 20px;
}

.slider__button--next {
	right: 20px;
	background-position: -30px 0px;
}

.slider__item {
	padding: 1px 16px 0 19px;
	width: 265px;
	height: 399px;
}

.slider__item--1 {
	background-image: url(../img/step1_big.jpg);
}

.slider__item--2 {
	background-image: url(../img/step2_big.jpg);
}

.slider__item--3 {
	background-image: url(../img/step3_big.jpg);
}

.slider__step-number {
	margin: 230px 0 0 3px;
}

.slider__step-number--2 {
	margin: 259px 0 0 2px;
}


/*PARTNERS  STARTS  HERE*/
/*PARTNERS  STARTS  HERE*/
/*PARTNERS  STARTS  HERE*/


.partners {
	width: 100%;
}

.partners__header {
	margin-top: 82px;
}

.partners__block {
	margin: 29px 0 25px 0;
}

.partners__block--2 {
	margin-left: 26px;
	margin-right: 26px;
}

.partners__block--4 {
	margin-left: 26px;
}

.partners__button {
	margin: 11px auto;
	width: 191px;
}